@using BlazorApp.Services;
@inject DataService dataService

<div>
    <MudPaper Width="100%">
        <MudList Clickable="true">
            <MudListItem Text="@Category.Title" InitiallyExpanded="true" @onclick="Toggle">
                <NestedList>

                        @foreach (var child in Category.Children)
                        {
                            <MudListItem>
                                <TreeItem Category="@child" />
                            </MudListItem>
                        }

                </NestedList>
            </MudListItem>
        </MudList>
    </MudPaper>
</div>
  



    
@code
{
    public Category lastClicked { get; set; } = null;



    async void SetLastClicked(Category item)
    {
        lastClicked = item;
        dataService.SetData(lastClicked);
        dataService.TriggerEvent();

    }
    [Parameter] public Category Category { get; set; }

    private bool IsExpanded { get; set; } = false;

    private void Toggle()
    {
        IsExpanded = !IsExpanded;
    }
}