@using BlazorApp.Components

<div class="container">
    <div class="left">
        <CategoriesComponent></CategoriesComponent>
    </div>
    <div class="divider"></div>
    <div class="right">
        <ProductsComponent></ProductsComponent>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<style>
    .container {
        display: grid;
        grid-template-columns: 40% 8px 60%;
        height: 100%;
    }

    .left {
        padding-left: 10px;
    }

    .divider {
        background-color: #000;
        cursor: col-resize;
    }

    .right {
        padding-left: 10px;
    }
</style>
