@using BlazorApp.Components


<div class="grid-container">
    <div class="grid-item">
        <CategoriesComponent></CategoriesComponent>
    </div>
    <div class="divider">23 </div>
    <div class="grid-item">
        <ProductsComponent></ProductsComponent>
    </div>
</div>

<style>

    .grid-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        height: 100%;
    }

    .divider {
        width: 8px;
        background-color: #000;
        cursor: col-resize;
    }

    .grid-item {
        background-color: #ccc;
        padding-left: 10px;
    }
</style>