#AspNet
server/ASPNetApp/*.com
server/ASPNetApp/*.class
server/ASPNetApp/*.dll
server/ASPNetApp/*.exe
server/ASPNetApp/*.pdb
server/ASPNetApp/**.dll.config
server/ASPNetApp/**.cache
server/ASPNetApp/**.suo
server/ASPNetApp/*!/packages/*/lib/*.dll
server/ASPNetApp/*!/packages/*/lib/*/*.dll
server/ASPNetApp/*!*CommonReferences/*.dll
server/ASPNetApp/*UpgradeLog.XML
server/ASPNetApp/*_UpgradeReport_Files/
server/ASPNetApp/*bin/
server/ASPNetApp/*obj/
server/ASPNetApp/*TestResults/
server/ASPNetApp/**.Publish.xml
server/ASPNetApp/*/_ReSharper.*
server/ASPNetApp/**.ReSharper.*
server/ASPNetApp/**.7z
server/ASPNetApp/**.dmg
server/ASPNetApp/**.gz
server/ASPNetApp/**.iso
server/ASPNetApp/**.jar
server/ASPNetApp/**.rar
server/ASPNetApp/**.tar
server/ASPNetApp/**.zip
server/ASPNetApp/**.log
server/ASPNetApp/**.sqlite
server/ASPNetApp/*.DS_Store?
server/ASPNetApp/*ehthumbs.db
server/ASPNetApp/*Icon?
server/ASPNetApp/*Thumbs.db
server/ASPNetApp/*[Bb]in
server/ASPNetApp/*[Oo]bj
server/ASPNetApp/*[Tt]est[Rr]esults
server/ASPNetApp/**.suo
server/ASPNetApp/**.user
server/ASPNetApp/**.[Cc]ache
server/ASPNetApp/**[Rr]esharper*
server/ASPNetApp/*packages
server/ASPNetApp/*NuGet.exe
server/ASPNetApp/*_[Ss]cripts
server/ASPNetApp/**.exe
server/ASPNetApp/**.dll
server/ASPNetApp/**.nupkg
server/ASPNetApp/**.ncrunchsolution
server/ASPNetApp/**.dot[Cc]over

#Blazor
BlazorApp/*.rsuser
BlazorApp/*.suo
BlazorApp/*.user
BlazorApp/*.userosscache
BlazorApp/*.sln.docstates
BlazorApp/*.userprefs
BlazorApp/mono_crash.*
BlazorApp/[Dd]ebug/
BlazorApp/[Dd]ebugPublic/
BlazorApp/[Rr]elease/
BlazorApp/[Rr]eleases/
BlazorApp/x64/
BlazorApp/x86/
BlazorApp/[Aa][Rr][Mm]/
BlazorApp/[Aa][Rr][Mm]64/
BlazorApp/bld/
BlazorApp/[Bb]in/
BlazorApp/[Oo]bj/
BlazorApp/[Ll]og/
BlazorApp/.vs/
BlazorApp/Generated\ Files/
BlazorApp/[Tt]est[Rr]esult*/
BlazorApp/[Bb]uild[Ll]og.*
BlazorApp/*.VisualState.xml
BlazorApp/TestResult.xml
BlazorApp/[Dd]ebugPS/
BlazorApp/[Rr]eleasePS/
BlazorApp/dlldata.c
BlazorApp/BenchmarkDotNet.Artifacts/
BlazorApp/project.lock.json
BlazorApp/project.fragment.lock.json
BlazorApp/artifacts/
BlazorApp/StyleCopReport.xml
BlazorApp/*_i.c
BlazorApp/*_p.c
BlazorApp/*_h.h
BlazorApp/*.ilk
BlazorApp/*.meta
BlazorApp/*.obj
BlazorApp/*.iobj
BlazorApp/*.pch
BlazorApp/*.pdb
BlazorApp/*.ipdb
BlazorApp/*.pgc
BlazorApp/*.pgd
BlazorApp/*.rsp
BlazorApp/*.sbr
BlazorApp/*.tlb
BlazorApp/*.tli
BlazorApp/*.tlh
BlazorApp/*.tmp
BlazorApp/*.tmp_proj
BlazorApp/*_wpftmp.csproj
BlazorApp/*.log
BlazorApp/*.vspscc
BlazorApp/*.vssscc
BlazorApp/.builds
BlazorApp/*.pidb
BlazorApp/*.svclog
BlazorApp/*.scc
BlazorApp/_Chutzpah*
BlazorApp/ipch/
BlazorApp/*.aps
BlazorApp/*.ncb
BlazorApp/*.opendb
BlazorApp/*.opensdf
BlazorApp/*.sdf
BlazorApp/*.cachefile
BlazorApp/*.VC.db
BlazorApp/*.VC.VC.opendb
BlazorApp/*.psess
BlazorApp/*.vsp
BlazorApp/*.vspx
BlazorApp/*.sap
BlazorApp/*.e2e
BlazorApp/$tf/
BlazorApp/*.gpState
BlazorApp/_ReSharper*/
BlazorApp/*.[Rr]e[Ss]harper
BlazorApp/*.DotSettings.user
BlazorApp/.JustCode
BlazorApp/_TeamCity*
BlazorApp/*.dotCover
BlazorApp/.axoCover/*
BlazorApp/!.axoCover/settings.json
BlazorApp/*.coverage
BlazorApp/*.coveragexml
BlazorApp/_NCrunch_*
BlazorApp/.*crunch*.local.xml
BlazorApp/nCrunchTemp_*
BlazorApp/*.mm.*
BlazorApp/AutoTest.Net/
BlazorApp/.sass-cache/
BlazorApp/[Ee]xpress/
BlazorApp/DocProject/buildhelp/
BlazorApp/DocProject/Help/*.HxT
BlazorApp/DocProject/Help/*.HxC
BlazorApp/DocProject/Help/*.hhc
BlazorApp/DocProject/Help/*.hhk
BlazorApp/DocProject/Help/*.hhp
BlazorApp/DocProject/Help/Html2
BlazorApp/DocProject/Help/html
BlazorApp/publish/
BlazorApp/*.[Pp]ublish.xml
BlazorApp/*.azurePubxml
BlazorApp/*.pubxml
BlazorApp/*.publishproj
BlazorApp/PublishScripts/
BlazorApp/*.nupkg
BlazorApp/**/[Pp]ackages/*
BlazorApp/!**/[Pp]ackages/build/
BlazorApp/*.nuget.props
BlazorApp/*.nuget.targets
BlazorApp/csx/
BlazorApp/*.build.csdef
BlazorApp/ecf/
BlazorApp/rcf/
BlazorApp/AppPackages/
BlazorApp/BundleArtifacts/
BlazorApp/Package.StoreAssociation.xml
BlazorApp/_pkginfo.txt
BlazorApp/*.appx
BlazorApp/*.appxbundle
BlazorApp/*.appxupload
BlazorApp/*.[Cc]ache
BlazorApp/!?*.[Cc]ache/
BlazorApp/ClientBin/
BlazorApp/~$*
BlazorApp/*~
BlazorApp/*.dbmdl
BlazorApp/*.dbproj.schemaview
BlazorApp/*.jfm
BlazorApp/*.pfx
BlazorApp/*.publishsettings
BlazorApp/orleans.codegen.cs
BlazorApp/Generated_Code/
BlazorApp/_UpgradeReport_Files/
BlazorApp/Backup*/
BlazorApp/UpgradeLog*.XML
BlazorApp/UpgradeLog*.htm
BlazorApp/ServiceFabricBackup/
BlazorApp/*.rptproj.bak
BlazorApp/*.mdf
BlazorApp/*.ldf
BlazorApp/*.ndf
BlazorApp/*.rdl.data
BlazorApp/*.bim.layout
BlazorApp/*.bim_*.settings
BlazorApp/*.rptproj.rsuser
BlazorApp/*- Backup*.rdl
BlazorApp/FakesAssemblies/
BlazorApp/*.GhostDoc.xml
BlazorApp/.ntvs_analysis.dat
BlazorApp/node_modules/
BlazorApp/*.plg
BlazorApp/*.opt
BlazorApp/*.vbw
BlazorApp/**/*.HTMLClient/GeneratedArtifacts
BlazorApp/**/*.DesktopClient/GeneratedArtifacts
BlazorApp/**/*.DesktopClient/ModelManifest.xml
BlazorApp/**/*.Server/GeneratedArtifacts
BlazorApp/**/*.Server/ModelManifest.xml
BlazorApp/_Pvt_Extensions
BlazorApp/.paket/paket.exe
BlazorApp/paket-files/
BlazorApp/.fake/
BlazorApp/.cr/personal
BlazorApp/__pycache__/
BlazorApp/*.pyc
BlazorApp/*.tss
BlazorApp/*.jmconfig
BlazorApp/*.btp.cs
BlazorApp/*.btm.cs
BlazorApp/*.odx.cs
BlazorApp/*.xsd.cs
BlazorApp/OpenCover/
BlazorApp/ASALocalRun/
BlazorApp/*.binlog
BlazorApp/*.nvuser
BlazorApp/.mfractor/
BlazorApp/.localhistory/
BlazorApp/healthchecksdb
BlazorApp/MigrationBackup/